body {
    font-family: $montserrat;
    font-size: 14px;
}
// simple tags
h1 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 3px 2px silver;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

strong {
    font-weight: bold;
}

s {
    text-decoration: line-through;
    color: rgba(255,255,255,.35);
}

// divs
main {
    width: 100%;
    min-height: calc(100vh - #{$headerHeightMobile} - #{$footerHeight});
    display: flex;
    background: url('../assets/background/bg.jpg') no-repeat 50% 50%;
    background-size: cover;
}
@media only screen and (min-width: 520px) {
    main {
        min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    }
}


footer {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    align-items: center;
    background: black;
    text-align: center;
    height: $footerHeight;
}
