@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'variables';
@import 'tags';
@import 'keyframes';

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background: $primaryColor;
    height: $headerHeightMobile;
    padding: 10px;

    nav {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 5px;

        .logo {
            display: flex;
            flex-basis: 100%;

            a {
                align-self: center;
                margin: 0 auto;
                font-size: 1.8em;
                transition: .25s;

                &:hover {
                    will-change: transform, color, font-weight;
                    transform: scale(1.25);
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}

section {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;

    &#landing-page {
        display: flex;
        height: inherit;
        align-items: center;
        justify-content: center;
        flex-basis: 100%;

        h1 > span {
            color: $primaryColor;
            text-shadow: 2px 3px 5px $secondaryColor;
        }

        .btn-group {
            margin: 35px 0;
        }

        .btn-group > a{
            text-decoration: none;
        }
    }

    &#signup {
        .container {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
            box-shadow: 2px 3px 5px black;
            background: rgba(0,0,0, .5);
        }

        .form-group {
            display: flex;
            justify-content: center;
            padding: 15px 0;
        }

        .form-wrapper {
            background: rgba(0,0,0, .75);
            padding: 25px;
            box-shadow: 2px 3px 5px black;
        }

        form {
            max-width: 350px;
            .btn-group {
                margin-top: 15px;
            }
        }

        h2 {
            flex-basis: 100%;
            padding: 5px 5px 15px 5px;
        }

        label {
            flex-basis: 70%;
            color: white;
        }

        label > span {
            color: red;
        }
    }
}

footer {
    span {
        color: white;
    }

    a {
        text-decoration: underline;
        color: $primaryColor;
    }
}

@media only screen and (min-width: 520px) {
    header {
        height: $headerHeight;
        nav {
            flex: 1;
            justify-content: space-around;

            .logo {
                flex-basis: auto;
            }
        }
    }

    section {
        &#signup > .container {
            padding: 25px;
        }
    }
}

span.form-error {
    color: red;
}

// common classess
.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    width: 100%;
    padding: 5px 0;

    input {
        max-width: 250px;
        width: 100%;
        font-size: 14px;
        padding: 7px 10px;
        font-family: $montserrat;
        border: none;
        box-shadow: 2px 3px 10px black;
    }

    label {
        font-weight: bold;
        font-size: 14px;
        margin: 3px 0;
        padding: 3px;
    }

    .error-message {
        // padding: 10px 3px;
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        max-width: 250px;
        text-align: center;

        span {
            padding-top: 7px;
        }
    }
}

.btn-group {
    margin: 7px 0;

    button,
    a {
        background: black;
        font-size: 18px;
        font-family: $montserrat;
        color: white;
        border: none;
        box-shadow: 2px 3px 10px black;
        padding: 10px 25px;
        cursor: pointer;
        transition: .25s;

        &:hover {
            background: white;
            color: black;
        }
    }
}

.text-center {
    text-align: center;
}


