<div class="todoList" data-list-id='0'>
    <div class="list-header">
        <div class="list-btn-group">
            <button type="button" id='editListTitle'>&#9998;</button>
            <button type="button" id='saveListTitle'>&#10004;</button>
        </div>
        <div class="list-title">
            <input type="text" maxlength="30" class='list-title-field' placeholder="max 30 characters" value='Example title' readonly>
        </div>
        <div class="list-btn-group">
            <button id='removeList'>&#10006;</button>
        </div>
    </div>
    <div class="list-body">
        <ul class='tasks'>
            <li class='single-task' id='1' data-task-id=''>
                <div class="content">
                    <p>
                        Task example
                    </p>
                </div>
                <div class="status">
                    <small>New</small>
                </div>
                <div class="task-actions">
                    <button type="button" class='task-action' id='done'>&#10004;</button>
                    <button type="button" class='task-action' id='halfDone'>&#189;</button>
                    <button type="button" class='task-action' id='delete'>&#10006;</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-new-task">
        <form action="" method='post'>
            <input type="text" name="new_task" placeholder="Describe new task here" id="newTask" autocomplete="off">
            <div id="createTask">
                <button type="button">&#10148;</button>
            </div>
        </form>
    </div>
</div>