<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='public/css/app.css'>
    <title>TODO list by zer0xday</title>
</head>
<body>
    {% include 'layout/header.html' %}
    <main>
        {% block content %} {% endblock %}
    </main>
    {% include 'layout/footer.html' %}
    {% include 'layout/scripts.html' %}
</body>
</html>