{% extends "index.html" %}
{% block content %}
<section id="main-block">
    <div class="list-buttons">
        <div class="user-ui-btn text-center">
            <button class='ui-btn' id='newList'>&#10010;</button>
        </div>
    </div>
    <div class="lists-container">
        {% for list in lists %}
        <div class="todoList" data-list-id='{{ list.id }}'>
            <div class="list-header">
                <div class="list-btn-group">
                    <button type="button" id='editListTitle'>&#9998;</button>
                    <button type="button" id='saveListTitle'>&#10004;</button>
                </div>
                <div class="list-title">
                    <input type="text" maxlength="30" class='list-title-field' value='{{ list.title }}' readonly>
                </div>
                <div class="list-btn-group">
                    <button id='removeList'>&#10006;</button>
                </div>
            </div>
            <div class="list-body">
                <ul class='tasks'>
                    {% for task in list.tasks %}
                    <li class='single-task' id='{{ loop.index }}' data-task-id='{{ task.id }}'>
                        <div class="content">
                            {% if task.status.name == 'Done' %}
                                <p><s>{{ task.task }}</s></p>
                            {% else %}
                                <p>{{ task.task }}</p>
                            {% endif %}
                        </div>
                        <div class="status">
                            <small>{{ task.status.name }}</small>
                        </div>
                        <div class="task-actions">
                            <button type="button" class='task-action' id='done'>&#10004;</button>
                            <button type="button" class='task-action' id='halfDone'>&#189;</button>
                            <button type="button" class='task-action' id='delete'>&#10006;</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="list-new-task">
                <form action="javascript:void(0)" method='post'>
                    <input type="text" name="new_task" placeholder="Describe new task here" id="newTask" autocomplete="off">
                    <div id="createTask">
                        <button type="button">&#10148;</button>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}

        {% include 'components/TODOlist-template.html' %}
    </div>
    <div class="modal">
        <div class="popup drop">
            <p id='popup-notify' class='content'></p>
            <div class="btn-group">
                <button type="button" class='modal-btn' id='accept'>Yes</button>
                <button type="button" class='modal-btn' id='reject'>No</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}