<header>
    <nav>
        <div class="logo">
            <span>TODOList</span>
        </div>
        <div class="login">
            <form action="/login" method='post'>
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" name='username' placeholder='Your username'>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name='password' placeholder='Your password'>
                </div>
                <div class="btn-group">
                    <button>Login</button>
                </div>
            </form>
        </div>
    </nav>
</header>
